body {
    background-color: #363636;
}
.c {
    text-align: center;
    background-color:#FFFFFF; 
}
.font{
    color:#FFFFFF;
    background-color:#000033; 
}
.fontzz{
    background-color:#ff6666; 
}